@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/Chunkfive-webfont.eot');
	src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	color: #999;
}
#hd h1{font-family: "ChunkFiveRegular", Baskerville,"Baskerville old face","Hoefler Text",Garamond,"Times New Roman",serif;font-size:197%;font-weight:normal;color:#333}
#hd .appname{font-family: "ChunkFiveRegular", Baskerville,"Baskerville old face","Hoefler Text",Garamond,"Times New Roman",serif;text-decoration:none;color:black;font-size:153.9%}
.createappbtn{
	font-family: "Arial", sans-serif;
	float:left;
}
.createappbtn span{clear:both;display:block;text-transform:lowercase}
.createappbtn a{
	height:0.61em;
	float:left;
	line-height:0.6em;
	-moz-border-radius:15px 15px 15px 15px;
	-moz-box-shadow:0 0 35px #999999;
	border:1px solid #999999;
	color:#555;
	font-size:150px;
	font-weight:bold;
	text-decoration: none;
	background:
	-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(184,184,184)),
		color-stop(0.5, rgb(235,235,235)),
		color-stop(0.16, rgb(255,255,255))
	    );
	background:
	    -moz-linear-gradient(
		center bottom,
		rgb(184,184,184) 7%,
		rgb(235,235,235) 50%,
		rgb(255,255,255) 16%
	    );

}
.createappbtn a:hover{
	color:#efefef;
	background:
	    -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(120,120,120)),
		color-stop(1, rgb(212,212,212)),
		color-stop(0.81, rgb(201,201,201))
	    );
	background:
	    -moz-linear-gradient(
		center bottom,
		rgb(120,120,120) 7%,
		rgb(212,212,212) 100%,
		rgb(201,201,201) 81%
	    );
}
#ft {
	padding:15px 0;
}

/** inputEx overrides **/
div.inputEx-TypeField-PropertiesPanel{
	position:static;
}